[submodule "wiki"]
	path = wiki
	url = https://github.com/TGTMedia/smartcloud_wiki.git
[submodule "packages/template"]
	path = packages/templates/template
	url = git@gitlab.com:tgtmedialtd/smartcloud/templates/template.git